.container {
  width: 300px;
  position: absolute;
  top: 40%;
  left: 390px;
}

.word {
  font-size:3em;
  color: #3d70b2;
  float:left;
  opacity:0;
  position:absolute;
}

.w1 {
  animation: w1anim 20s infinite;
}

.w2 {
  animation: w2anim 20s infinite;
}

.w3 {
  animation: w3anim 20s infinite;
}

.w4 {
  animation: w4anim 20s infinite;
}

.w5 {
  animation: w5anim 20s infinite;
}



@keyframes w1anim {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  20% {
    opacity:0;
  }
}


@keyframes w2anim {
  20%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  40% {
    opacity:0;
  }
}

@keyframes w3anim {
  40%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  60% {
    opacity:0;
  }
}

@keyframes w4anim {
  60%{
    opacity: 0;
  }
  70%{
    opacity: 1;
  }
  80% {
    opacity:0;
  }
}

@keyframes w5anim {
  80%{
    opacity: 0;
  }
  90%{
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}