.countdown{
  position: absolute;
  top: 35%;
  left: 48%;
}

.countValue{
  font-size: 100px;
  animation-name: heartBeat;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.7);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.7);
  }

  70% {
    transform: scale(1);
  }
}